@charset "utf-8";
/* CSS Document */

@media screen and (min-width: 740px)  {
  #restaurant-container {
    display: flex;
    flex-flow: row wrap
  }
  #restaurant-name {
    flex: 1 100%;
    text-align: center;
  }
  .restaurant-badge {
    flex: 1;
    margin: 20px;
  }
  .restaurant-timetable {
    flex: 1;
  }
  
}
/* On medium screens the filter has rows */
@media screen and (min-width: 650px) and (max-width: 950px) {
  .filter-options {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
  }
  .filter-options h2 {
    flex: 1 100%;
  }
  .select {
    flex: 1 40%; 
    margin-left: 15px;
    margin-right: 15px;
  }
    .select.pan {
      margin-left: 0;
    }
    
  }
/* On larges screens the filter merge wiht the map */
@media screen and (min-width: 950px) {
  .header-container {
    display: flex;
    flex-flow: row;
    align-items: center;
  }
  .map-wrap{
    /* width: 450px; */
    flex: 1 0px;
  }
 .filter-wrap{
   flex: 1;
  }
  .filter-options {
    height: 400px;  
 }
 .world-map::after {
   content: '\1F5FA';
   width: 100px;
   height: 100px;
   color: black;
   font-size: 100pt;
 }
 .world-map {
   padding-bottom: 25px;
 }
}
/* On huge screens we just left the space open */
@media screen and (min-width: 1200px) {
 main {
   width: 1200px;
   margin: 0 auto;
  }
  .container {
    background-color: #5e5e5e;
 }
}


