

@charset "utf-8";
/* CSS Document */
html, body {
  width: 100%;
}margin
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #0062b7;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-flow: column;
}
#footer {
  background-color: #444;
  color: #bbb;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  padding: 0 0 20px 0;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 16pt;
  font-weight: 200;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    /* width: calc(50% - 80px); */
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0062b7;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  display: none;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  background-color: #8baac9;
  align-items: center;
  text-align: center;
}
.filter-options h2 {
  margin: 0;
  flex: 1;
  width: 100%;
  color: black;
  font-weight: 200;
  letter-spacing: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Reset select browser properties */
select::-ms-expand {
  display: none;
}
select {
  -webkit-appearance: none;
  box-shadow: none;
  width: 100%;
  height: 100%;
  outline: 0;
  padding-left: 5%;
  border: 0 !important;
  background: #6789aa;
  color: black;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 200;
  text-align: center;
}
/* Add custom properties to our select */
.filter-options .select {
  width: 90%;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
  display: block;
  height: 50px;
  font-size: 25pt;
  background: #6789aa;
  overflow: hidden;
}
.filter-options .select::after {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #5f7386;
  pointer-events: none;
}

.pan::after {
  content: '\1F373';
}
.building::after {
  content: '\1F3D8'
}


/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  background-color: #f3f3f3;
  list-style: outside none none;
  text-align: center;
}
#restaurants-list li {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 90%;
  max-width: 330px;
  background-color: #fff;
  box-shadow: 4px 7px 17px 0px rgba(0,0,0,0.2);
  border-radius: 15px 0 15px 0;
  font-family: Arial,sans-serif;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 10px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  border-radius: 15px 0 0 0;
}
#restaurants-list li h1 {
  color: #bb8200;
  align-self: center;
  font-family: Arial,sans-serif;
  font-size: 18pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 16pt;
  padding: 5px;
}
#restaurants-list li a {
  background-color: orange;
  border-radius: 0 0 15px 0;
  color: black;
  display: inline-block;
  font-size: 16pt;
  margin: 5px 0 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 200px;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
/* .inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
} */
#restaurant-name {
  color: #bb8200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  align-self: center;
  letter-spacing: 0;
  margin: 10px auto;
  text-transform: uppercase;
  line-height: 1.1;
}

.restaurant-badge {
  display: flex;
  flex-flow: column;
  flex: 1 50%;
}

#restaurant-img {
  width: 100%;
  margin: 0 auto;
  border-radius: 15px 0 0 0;
  max-width: 350px;
}
#restaurant-address {
  font-size: 16pt;
  margin: 10px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 16pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 ;
  padding: 2px 0;
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  width: 100%;
 
  max-width: 350px;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-content: center;
  align-self: center;
  align-items: center;
}

#restaurant-hours {
  width: 90%;
  max-width: 350px;
}

#reviews-container h2 {
  color: #bb8200;
  font-size: 24pt;
  font-weight: 300;
  text-transform: uppercase;
  flex: 1 100%;
}
#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  width: 95%;
  
}
#reviews-list li {
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  list-style-type: none;
  overflow: hidden;
  border-radius: 15px 0 15px 0;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 350px;
}

#reviews-list li p:nth-child(-n + 2) {
  background-color: black;
  color: white;
  flex: 1 50%;
  text-align: right;
  font-size: 12pt;
  padding: 10px;
  margin: 0 0 10px;
}
#reviews-list li p:first-child {
  flex: 1;
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  margin: 0 0 10px;
}

#rating {
  margin: 10px;
  background-color: goldenrod;
  padding: 5px;
  border-radius: 5px;
}
#rating-content {
  margin: 10px;
  text-align: justify;
}

#restaurant-hours {
  width: 90%;
  align-self: center;
}
#restaurant-hours td {
  color: #666;
  max-width: 50%;
  /* border-bottom: 1px solid black; */
}
@media screen and (min-width: 740px)  {
  #restaurant-container {
    display: flex;
    flex-flow: row wrap
  }
  #restaurant-name {
    flex: 1 100%;
    text-align: center;
  }
  .restaurant-badge {
    flex: 1;
    margin: 20px;
  }
  .restaurant-timetable {
    flex: 1;
  }
  
}
/* On medium screens the filter has rows */
@media screen and (min-width: 650px) and (max-width: 950px) {
  .filter-options {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
  }
  .filter-options h2 {
    flex: 1 100%;
  }
  .select {
    flex: 1 40%; 
    margin-left: 15px;
    margin-right: 15px;
  }
    .select.pan {
      margin-left: 0;
    }
    
  }
/* On larges screens the filter merge wiht the map */
@media screen and (min-width: 950px) {
  .header-container {
    display: flex;
    flex-flow: row;
    align-items: center;
  }
  .map-wrap{
    /* width: 450px; */
    flex: 1 0px;
  }
 .filter-wrap{
   flex: 1;
  }
  .filter-options {
    height: 400px;  
 }
 .world-map::after {
   content: '\1F5FA';
   width: 100px;
   height: 100px;
   color: black;
   font-size: 100pt;
 }
 .world-map {
   padding-bottom: 25px;
 }
}
/* On huge screens we just left the space open */
@media screen and (min-width: 1200px) {
 main {
   width: 1200px;
   margin: 0 auto;
  }
  .container {
    background-color: #5e5e5e;
 }
}




/* MODAL FOR REVIEW FORM */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
    top: 0%;
  margin: 0% 0%;
  background-color: rgba(0,0,0,0.2);
  
}

.modal-content {
  margin: 10px auto;
  width: 90%;
  max-width: 400px;
  padding: 10px;
  background-color: white;
}


/* main toggle like button*/
.restaurant-toggle-like {
    position: absolute;
    /*width: 20px;
    height: 20px;*/
    font-size: 3em;
    border-radius: 10px 0;
    padding: 0 15px;
    border: none;
    color: goldenrod;
    background-color: black;
    z-index: 1;
}

/* toggle slider */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 5px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 0;
}

input:checked + .slider {
  background-color: #363636;
}

input:focus + .slider {
  box-shadow: 0 0 1px #363636;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  
  content: '♥';
  /*font-size: 1em;*/
  font-size: 1.3em;
  color: goldenrod;
  text-align: center;
  line-height: 1;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.favorite-toggle-div {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin:0px auto;
    border-radius: 0 0 15px 0;
    width: 100%;
    max-width: 350px;
    background-color: goldenrod;
}

.favorite-toggle-div p {
  margin: 0;
}

#is-favorite-message {
  margin-left: 5px;
}

#open-review-form {
  border: none;
    background: goldenrod;
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px 0;
    box-shadow: 4px 7px 17px 0px rgba(0,0,0,0.2);
    transition: 0.4s;
}

#open-review-form:hover {
  box-shadow: 8px 14px 17px 0px rgba(0,0,0,0.4);

}


/*Rating system*/

.rating input {
  display: none;
}
.rating > label { 
  color: white; 
 float: right; 
}
.rating label:before { 
  margin: 5px;
  border: none;
  font-size: 1em;
  /*font-family: FontAwesome;*/
  display: inline-block;
  content: "★";
}

.rating input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) label:hover, /* hover current star */
.rating:not(:checked) label:hover ~ label { color: #FFD700; } 


.rating input:checked + label:hover, /* hover current star when changing rating */
.rating input:checked ~ label:hover,
.rating label:hover ~ input:checked ~ label, /* lighten current selection */
.rating input:checked ~ label:hover ~ label { color: #FFED85;  } 



/* MODAL REVIEW FORM*/
.modal-form {
  text-align: center;
}

#close-review-form {
  background: none;
  border: none;
  position: absolute;
}

.modal-form h2 {
  color: #bb8200;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  flex: 1 100%;
}

.form-review-card {
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    list-style-type: none;
    overflow: hidden;
    border-radius: 15px 0 15px 0;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 350px;
    background-color: rgba(0,0,0,0.2);

}

.form-review-card-name {
    width: 100%;
    border: none;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    margin: 0 0 10px;
    background-color: black;
    color: white;
}

.form-review-card-name::placeholder {
  color: white;
}

.form-review-card-date {
    background-color: black;
    color: white;
    flex: 1 50%;
    text-align: right;
    font-size: 1.2em;
    padding: 10px;
    margin: 0 0 10px;
}

.form-review-card-text {
    margin: 10px;
    width: 100%;
    text-align: justify;   
    font-size: 1em; 
    max-height: 200px;
    min-height: 200px;
}

.form-review-card-submit {
  width: 100%;
  font-size: 1.2em;
  border: none;
  border-radius: 0 0 15px 0;
  background-color: goldenrod;
  padding: 5px;

}

#start-rating {
  background-color: goldenrod;
  border: none;
  padding: inherit;
  border-radius: 10px;
  margin-left: 10px;
}

.lazy {
  height: 247px;
  filter: blur(100px);
  transition: 0.2s
  
}

.fade-in {
  filter: blur(0);
}

#load-map {
    width: 90%;
    margin: 5%;
    background-color: goldenrod;
    border: none;
    border-radius: 15px 0;
    font-size: 2em;
    box-shadow: 4px 7px 17px 0px rgba(0,0,0,0.2);
}

#load-map:hover {
  box-shadow: 8px 14px 17px 0px rgba(0,0,0,0.4);

}


/* toasts */

.toast {
  visibility: hidden;
  min-width: 300px;
  margin-left: -150px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */

}

.toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}