@charset "utf-8";
/* CSS Document */
html,body {
  width: 100%;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-flow: column;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  padding: 0 0 20px 0;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 16pt;
  font-weight: 200;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  background-color: #8baac9;
  align-items: center;
  text-align: center;
}
.filter-options h2 {
  margin: 0;
  flex: 1;
  width: 100%;
  color: white;
  font-weight: 200;
  letter-spacing: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Reset select browser properties */
select::-ms-expand {
  display: none;
}
select {
  -webkit-appearance: none;
  box-shadow: none;
  width: 100%;
  height: 100%;
  outline: 0;
  padding-left: 5%;
  border: 0 !important;
  background: #6789aa;
  color: white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 200;
  text-align: center;
}
/* Add custom properties to our select */
.filter-options .select {
  width: 90%;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
  display: block;
  height: 50px;
  font-size: 25pt;
  background: #6789aa;
  overflow: hidden;
}
.filter-options .select::after {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #5f7386;
  pointer-events: none;
}

.pan::after {
  content: '\1F373';
}
.building::after {
  content: '\1F3D8'
}
/* On medium screens the filter has rows */
@media screen and (min-width: 650px) and (max-width: 950px) {
  .filter-options {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
  }
  .filter-options h2 {
    flex: 1 100%;
  }
  .select {
    flex: 1 40%; 
    margin-left: 15px;
    margin-right: 15px;
  }
    .select.pan {
      margin-left: 0;
    }
    
  }
/* On larges screens the filter merge wiht the map */
@media screen and (min-width: 950px) {
.header-container {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.map-wrap{
  /* width: 450px; */
  flex: 1 0px;
}
 .filter-wrap{
   flex: 1;
  }
  .filter-options {
    height: 400px;
    
 }
 .world-map::after {
   content: '\1F5FA';
   width: 100px;
   height: 100px;
   color: black;
   font-size: 100pt;
 }
 .world-map {
   padding-bottom: 25px;
 }
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-flow: column wrap;
  padding: 0;
  background-color: #f3f3f3;
  list-style: outside none none;
  text-align: center;
}
#restaurants-list li {
  width: 90%;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  text-align: left;
  margin: 0 auto;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}
